@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Code+Pro:wght@700&display=swap');

/* notes:
display: inline-block --> treats the div like a container, style applies to everything, like select the entire table
display: flex --> allows resizing of the window
flex-wrap: nowrap --> default is wrap, all in one line
background-color --> good to see area enclosed
 */

.create-event .title {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #7AAEDE;
    font-weight: 700;
    margin-top: 100px;
    font-family: 'Source Code Pro', monospace;
}

.create-event .submit:hover {
    color: white;
    background-color: #7AAEDE;
}
.create-event .errorProp {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: red;
}

.subtitle {
    color: black;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.create-event label {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
    /* margin can be percentage! */
    margin-left: 20%; 
    font-size: 18px;
    display: block;
    line-height : 0px;
}

.create-event input {
    text-align: left;
    padding-left: 10px;
    width: 60%;
    height: 40px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    /* padding-bottom: 100px; */
    background-color: #efefef;
    border-radius: 10px;
    display: block;
    margin:auto;
}
.create-event .login-link {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #7AAEDE;
}

.create-event .submit {
    margin-top: 50px;

    /* center the button */
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: black;
    color: #7AAEDE;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    transition: color 0.5s ease;
    font-weight: 700;
}

.create-event .bottom {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
