@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Code+Pro:wght@700&display=swap');

/* notes:
display: inline-block --> treats the div like a container, style applies to everything, like select the entire table
display: flex --> allows resizing of the window
flex-wrap: nowrap --> default is wrap, all in one line
background-color --> good to see area enclosed
 */

.signup .title {
    font-size: 50px;
    text-align: center;
    color: #7AAEDE;
    font-weight: 700;
    margin-top: 100px;
    font-family: 'Source Code Pro', monospace;
}

.signup .submit:hover {
    color: white;
    background-color: #7AAEDE;
}

.signup .errorProp {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: red;
}

.subtitle {
    color: black;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.signup label {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
    /* margin can be percentage! */
    margin-left: 20%; 
    font-size: 18px;
    display: block;
    line-height : 0px;
}

.signup input {
    text-align: left;
    padding-left: 10px;
    width: 60%;
    height: 40px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
    border-radius: 10px;
    display: block;
    margin:auto;
}

.login-link {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #7AAEDE;
}

.submit {
    margin-top: 50px;

    /* center the button */
    /* position: absolute; */
    left: 50%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: color 0.5s ease; */

    background-color: black;
    color: #7AAEDE;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}
.signup .submit-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-buttons-button{
    margin-top: 50px;

    /* center the button */
    /* position: absolute; */
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */

    background-color: black;
    color: #7AAEDE;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    transition: color 0.5s ease;
    font-weight: 700;

    margin: 20px;
}
.submit-buttons{
    display: flex;
    justify-content: center;
}

.bottom {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
