@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Code+Pro:wght@700&display=swap');


.title {
    font-size: 50px;
    text-align: center;
    color: #7AAEDE;
    font-weight: 700;
    margin-top: 100px;
    font-family: 'Source Code Pro', monospace;
}

.subtitle {
    color: black;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.body {
    text-align: left;
    color: black;
    padding-left: 200px;
    /*left: 150px;*/
}

label {
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    font-size: 18px;
    display: block;
    line-height : 0px;
}

input {
    width: 80%;
    height: 40px;
    margin-bottom: 50px;
    background-color: #efefef;
    border-radius: 10px;
}

.login-link {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #7AAEDE;
}

button {
    display: block;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: black;
    color: #7AAEDE;
    font-size: 18px;
    /* border: 10px; */
    text-align: center;
    /* margin: 4px 2px; */
    padding: 10px 20px;
    border-radius: 10px;
}

.bottom {
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
}

