/* agenda.css */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Code+Pro:wght@700&display=swap');

.agenda  {
}

.week {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #7AAEDE;
    font-family: 'Source Code Pro', monospace;
    margin: 20px;
}

.change-week {
    display: flex;
    justify-content: space-between;
}

.prev-week {
    margin-left: 20px;
    background-color: black;
    color: #7AAEDE;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.5s ease;
}

.next-week {
    margin-right: 20px;
    background-color: black;
    color: #7AAEDE;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.5s ease;
}

.prev-week:hover, .next-week:hover {
    color: white;
    background-color: #7AAEDE;
}

.study-groups {
    margin: 20px;
    background-color: #eaf5ff;
    border-radius: 10px;
}

.agenda-item:hover {
    background-color: white;
}

.agenda-item {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}

.date-str {
    
}